.skeleton-image {
    height: 300px;
}

.skeleton-title {
    width: 80%;
    height: 2em;
}

.skeleton-profile__image {
    height: 50px;
    width: 60px;
    border-radius: 100%;
}

.skeleton-profile__text {
    width: 60%;
    height: 1.5em;
}

.skeleton-badge {
    width: 48px;
    height: 16px;
    border-radius: 0.25em;
}

.skeleton-button {
    width: 100px;
    height: 30px;
    border-radius: 0.25em;
}
